@import url("https://use.typekit.net/oht1lqm.css");
@import './util/grid';
@import './util/crumbs';

@import './layouts/home';
@import './layouts/essay1';


body,
html {
    background-color: #f6f6ff;
    min-height: 100%;
    overflow-x: hidden;
    width: 100vw;
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}


.red-square {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: orangered;
}

// .content-wrapper {
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute; z-index: 0;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 20px;
//         background-color: maroon;
//     }
// }

.black-bg {
    // background-color: #001;
    position: relative;
    grid-column: 1/13;
    grid-row: 6/15;
    width: 100vw;
    transform: translate(-36px, 5vw)
}

