@import url("https://use.typekit.net/oht1lqm.css");
@import './util/grid';
@import './util/crumbs';

@import './layouts/home';
@import './layouts/essay1';


body,
html {
    background-color: #f6f6ff;
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
}

html {
    overflow-y: hidden;
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}


.red-square {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: orangered;
}

// .content-wrapper {
//     position: relative;

//     &::after {
//         content: '';
//         position: absolute; z-index: 0;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 20px;
//         background-color: maroon;
//     }
// }

.black-bg {
    position: relative;
    grid-column: 1/13;
    grid-row: 6/14;
    width: 115vw;
    transform: translate(-5vw, 5vw);

    svg {
        height: 100%;
    }
}

.red-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    transform: translate(0, 5vw) scale(-1,1);
    height: 1000px;
    &--svg {
        fill: #d82433;

    }

}